.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box_login{
    background-color: white;
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}

.input_login{
    margin-bottom: 14px;
    height: 26px;
    border: 1px solid #eee;
    padding-left: 5px;
}
.input_login::placeholder{
    color: #ccc;
}

.btn_submit{
    margin: 10px 0;
    background-color: deepskyblue;
    border: none;
    height: 40px;
    color: white;
    font-size: 16pt;
    font-weight: 500;
    cursor: pointer;
}
.create_acc{
    color: deepskyblue;
    font-weight: 600;
    cursor: pointer;

}