.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box_login{
    background-color: white;
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}
.label{
    margin-top: 14px;
}
.input_login{
    height: 30px;
    border: 1px solid #eee;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
}
input.input_error,
select.input_error{
    border: 2px solid #fc8181;
}
.input_login::placeholder{
    color: #ccc;
}
.error{
    font-size: 10pt;
    color: #fc8181;
}
.btn_submit{
    margin: 10px 0;
    background-color: deepskyblue;
    border: none;
    height: 40px;
    color: white;
    font-size: 16pt;
    font-weight: 500;
    cursor: pointer;
}
.create_acc{
    color: deepskyblue;
    font-weight: 600;
    font-size: 14pt;
    cursor: pointer;

}